<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="POST" name="singUp" action="/registration">
                <h2>Registration</h2>
                <div class="form-control">
                <label>Username:</label>
                <input type="text" name="username" style="width: 100%">
                <label>Password:</label>
                <input type="password" name="password" style="width: 100%">
                <label>Name:</label>
                <input type="text" name="name" style="width: 100%">
                <label>Sername:</label>
                <input type="text" name="sername" style="width: 100%">
                <label>Email:</label>
                <input type="email" name="email" style="width: 100%">
                <label>Description:</label>
                <textarea name="description" style="width: 100%"></textarea>
                <label>Mailing:</label>
                <input type="checkbox" name="mailing">
                </div>
                <button type="submit">SignUp</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>